.btn-active {
    border: 1px solid #c42401;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: #c42401;
}

.btn-inactive {
    border: 1px solid #909090;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: #909090;
}