.box {
    padding: 20px;
    border-color: #909090;
    color: #909090;
    border: 1px solid #909090;
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
    transition: all .2s;
}

.box:hover {
    border-color: #c42401;
    color: #c42401;
    border: 1px solid #c42401;
    transition: all .2s;
}