.list {
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
    color: #909090;
    transition: all 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list:hover {
    color: #000;
    background-color: #ffe4e3;
    transition: all 0.2s;
    cursor: pointer;
}

.table-collapse {
    height: 0;
    transition: all .5s;
}

.table-expand {
    height: auto;
    transition: all .5s;
}