.active-nav {
    padding: 15px 20px;
    background-color: #ffe4e3;
    color: #c42401;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    cursor: pointer;
}

.side-btn {
    padding: 15px 20px;
    background-color: #fff;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    cursor: pointer;
    color: #909090;
    transition: all 0.3s;
}

.side-btn:hover {
    background-color: #ffe4e3;
    color: #c42401;
    transition: all 0.3s;
}